*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
}


html{
    font-family: 'Montserrat', 'Poppins';
    font-size: 10px;
}

img{
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5rem;
    background-color: #d1d9a6;
}

.blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post_img{
    min-width: 35rem;
    max-width: 35rem;
    height: 35rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

.blog-post_img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba (0,0,0,.05);
    border-radius: .5rem; 
}

.blog-post_date span{
    display: block;
    color: rgba (0,0,0,.5);
    font-size: 1.4rem;
    font-weight: 600;
    margin: .3rem 0;
    line-height: .5rem;
}

.blog-post_title{
    font-family: url('Montserrat');
    font-size: 4.95rem;
    margin: 0.3rem 0 1.2rem;
    text-transform: uppercase;
    color: #006400;
}

.blog-post_text{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    color: rgba(0,0,0,.7);
}

.blog-post_ctb{
    display: inline-block;
    padding: 1.5rem 2.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    background-color: #4aba74;
    border-radius: .9rem;
    text-decoration: none;
    margin: 6px;
    width: 20rem;
    text-align: center
}

.blog-post_ctb:hover{
    background-color: #1d8a46;
}

@media screen and (max-width: 1068px){
    .blog-post{
        max-width: 80rem;
    }
    
    .blog-post_img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .blog-post{
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px){
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;
    }
    
    .blog-post_img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
     }
}